<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"  media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/ionicons.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
    <title>sURL - a simple URL shortener</title>
  </head>
  <body>
    <div class="container">{% block container %}{% endblock %}</div>
    <div class="footer">
    {% block footer %}
    &copy; Copyright {{ year }}  by <a href="http://www.razvancristea.ro">Razvan Cristea</a>.
    {% endblock %}
    </div>
    <script type="text/javascript" script-name="ubuntu" src="http://use.edgefonts.net/ubuntu.js"></script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/custom.min.js') }}"></script>
  </body>
</html>
